// order-card.styles.scss

.order-card {
  border: 1px solid #dbdbdb;
  width: 30%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  background: #e6c744;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  .order-details {
    margin-bottom: 10px;
    p {
      margin: 5px 0;
    }
  }
  .delivery-info {
    h4 {
      margin-bottom: 10px;
    }
    p {
      margin: 5px 0;
    }
  }

  .order-items {
    h4 {
      margin-bottom: 10px;
    }
    ul {
      list-style: none;
      padding: 0;

      .order-item {
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 10px;
        display: flex;

        img {
          width: 20%;
          margin: 0 30px 0 20px;
        }
        &:last-child {
          border-bottom: none;
          margin-bottom: 0;
        }

        p {
          margin: 5px 0;
        }
      }
    }
  }
  .arrow {
    margin-top: 20px;
    color: #4c7796;
    text-align: center;

    i {
      font-size: 1.5rem; /* Increase the arrow icon size */
    }
  }
  @media (max-width: 768px) {
    width: 80%;
    font-size: smaller;
  }
}

.order-card:hover {
  box-shadow: 0 8px 50px #23232333;
  transform: scale(1.01);
  transform: translateY(-5px);
}
