/* alert.styles.scss */
.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(12, 12, 12, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .alert-container {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 100px rgba(171, 42, 42, 0.3);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    align-items: center;
    width: 400px;
    height: auto;

    img {
      width: 30%;
      margin-bottom: 10px;
    }

    .alert-title {
      font-size: 24px;
      font-weight: bold;
      color: #f44336;
      margin-bottom: 10px;
    }

    .alert-message {
      margin-bottom: 20px;
      font-size: 20px;
    }

    button {
      margin: 20px auto 0 auto;
      border-radius: 20px;
    }
  }
}
@media (max-width: 768px) {
  .alert-overlay {
    .alert-container {
      width: 300px;
    }
  }
}
