.navigation {
    height: 89px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo-container {
            height: 50px;
            width: 188.4px;
            padding: 25px;
    
            @media (max-width: 768px) {
                /* Adjust the dimensions for smaller screens (e.g., mobile devices) */
                height: 69px;
                width: 150px;
                padding: 10px;
            }
        }
        .logo {
            height: 100%;
            width: 100%;
        }
        

    .nav-links-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .nav-link {
            padding: 10px 15px;
            font-weight: bold;
            cursor: pointer;
        }
    }
}
.display-user {
    display: flex;
    //make content to right align
    justify-content: end;
    width: 99%;
    height: 15px;
    padding-bottom: 20px;
    font-weight: bold;
}