.toast {
  position: fixed;
  bottom: 100px;
  transition: left 0.5s;
  background-color: #333;
  color: #fff;
  z-index: 9999;
  font-size: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

  &.show {
    left: 0;
  }

  .toast-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .toast-message {
      padding: 10px 20px;
    }

    .progress {
      justify-content: flex-start;
      border-radius: 100px;
      align-items: center;
      position: relative;
      display: flex;
      height: 2px;
      width: 100%;
      padding-left: 0;
      .progress-value {
        animation: load 5s normal forwards;
        border-radius: 100px;
        background: #fff;
        height: 2px;
        width: 0;
      }

      @keyframes load {
        0% {
          width: 100%;
        }
        100% {
          width: 0%;
        }
      }
    }
  }
  @media (max-width: 767px) {
    font-size: 15px;
  }
}

.green {
  background-color: #4caf50;
}

.red {
  background-color: #f44336;
}
