.category-container {
  margin: 0 auto;
  width: 85%;

  .category-title {
    font-size: 28px;
    margin: 25px auto 35px auto;
    text-align: center;
  }

  .products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
  }
}
/* Adjust the grid for medium-sized screens */
@media (max-width: 768px) {
  .category-container {
    width: 95%;
    .products-container {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 10px;
      row-gap: 40px;
    }
    .category-title {
      font-size: 23px;
    }
  }
}
@media (max-width: 576px) {
  .category-container {
    .products-container {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
    }
  }
}
