.product-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 360px;
  background: #fbffdc;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-bottom: 5px;
  }

  .inverted-add-to-cart {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    .inverted-add-to-cart {
      opacity: 0.85;
      display: flex;
    }
  }
  .product-card-details {
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 80%;
      margin-bottom: 15px;
    }

    .price {
      width: 15%;
    }
  }
}
@media (max-width: 768px) {
  .product-card-container {
    height: 310px;

    img {
      height: 85%;
    }
    .inverted-add-to-cart {
      top: 210px;
    }
    .product-card-details {
      font-size: 15px;
      height: 10%;
      .name {
        width: 77%;
      }

      .price {
        width: 20%;
      }
    }
  }
}
