.product-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 350px;
  background: #FBFFDC;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-bottom: 5px;
  }

  button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }
  .product-card-details {
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 80%;
      margin-bottom: 15px;
    }

    .price {
      width: 15%;
    }
  }
}
@media (max-width: 768px) {
  .product-card-container {
    height: 310px;

    button {
        top: 205px;
      }
    .product-card-details{
      font-size: 15px;

    .name {
        width: 77%;
      }
    
      .price {
        width: 20%;
      }
    }
  }
}

/* Adjust the grid for small-sized screens */
@media (max-width: 576px) {
  .product-card-container {
    height: 280px;
  }
    button {
      top: 155px;
    }
        .product-card-details {
          font-size: 12px;
    
          .name {
            width: 70%;
          }
    
          .price {
            width: 20%;
          }
        }
}

/* Adjust the grid for extra-small-sized screens */
@media (max-width: 375px) {
  .product-card-container {
    height: 250px;
    button {
        top: 105px;
      }
  }
}