/* Base styles for the container */
.authentication-container {
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
}

/* Responsive adjustments */
/* When the screen size is 600px osr smaller */
@media screen and (max-width: 600px) {
    .authentication-container {
        flex-direction: column;
        width: 100%;
    }
         .authentication-container>* {
             margin-bottom: 50px;
             /* Add margin between components in column layout */
         }
}

/* When the screen size is 768px or smaller */
@media screen and (max-width: 768px) {
    .authentication-container {
        flex-direction: column;
        width: 90%;
    }
        .authentication-container>* {
            margin-bottom: 50pxpx;
            /* Add margin between components in column layout */
        }
}

/* When the screen size is 992px or smaller */
@media screen and (max-width: 992px) {
    .authentication-container {
        flex-direction: column;
        width: 80%;
    }
        .authentication-container>* {
            margin-bottom: 50pxpx;
            /* Add margin between components in column layout */
        }
}

/* When the screen size is 1200px or smaller */
@media screen and (max-width: 1200px) {
    .authentication-container {
        flex-direction: column;
        width: 70%;
    }
        .authentication-container>* {
            margin-bottom: 50pxpx;
            /* Add margin between components in column layout */
        }
}